@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
body {
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}
* {
    box-sizing: border-box;
}

/**
* Navbar
**/
#navbar {
    position: fixed;
    width: 100%;
    height: 4.688rem;
    padding: .875rem 1.25rem;
    background-color: #EF0040;
    z-index: 1;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.35);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar #brand a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
#navbar #brand img {
    width: 3.125rem;
    height: 3.125rem;
}
#navbar #brand h1 {
    margin: 0;
    margin-left: .5rem;
    display: inline-block;

    font-size: 1.375rem;
    letter-spacing: 0.1em;
    color: #fff;
}
#navbar #menu-button {
    width: 2.813rem;
    height: 2.813rem;
    background-image: url(/public/svg/user_menu.svg);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Modal */
#modal {
    position: fixed;
    margin: 0 calc(calc(22.5rem - 18.75rem) / 2);
    z-index: 2;
    width: 18.75rem;
    padding: .6rem .5rem;
    color: #fff;
    border-radius: .25rem;
    border-width: .125rem;
    border-style: solid;
    top: -20vh;
    transition: top .6s;

    display: flex;
    flex-wrap: wrap;
}
#modal i {
    margin-left: auto;
    margin-top: -.2rem;
    padding-right: .2rem;
    font-size: 1rem;
}
#modal h1 {
    font-size: 1.2rem;
    letter-spacing: .05rem;
    margin: 0;
    margin-bottom: .6rem;
}
#modal p {
    text-align: justify;
    width: 95%;
    font-size: .8rem;
    letter-spacing: .02rem;
    margin: 0;
}
#modal p a {
    color: #fff;
}
#modal.success {
    background-color: rgba(104, 147, 211, 0.9);
    border-color: rgb(104, 147, 211);
}
#modal.error {
    background-color: rgba(221, 84, 98, 0.9);
    border-color: rgb(221, 84, 98);
}

/* Menu */
#navbar #menu {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80vw;
    z-index: 1;

    list-style: none;
    background-color: #EF0040;
    box-shadow: 0 .125rem .225rem rgba(0, 0, 0, 0.55);

    display: flex;
    flex-direction: column;

    left: -40vh;
    transition: .6s;
}
#navbar #menu.active {
    left: 0vh;
}

/* Close icon */
#navbar #menu a {
    align-self: flex-end;
    font-size: 2rem;
    color: #fff;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
}

#navbar #menu li a {
    display: inline-block;
    padding: .125rem .25rem;
    margin-bottom: .25rem;
    text-decoration: none;
    color: #fff;
    letter-spacing: .2rem;
    font-size: 1.5rem;
}
#navbar #menu li.hide {
    display: none;
}

/**
* Footer
**/
footer {
    width: 100%;
    height: 18.75rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), #6310C7;
    color: #fff;
    padding-top: 2.5rem;

    display: flex;
    flex-wrap: wrap;
}
footer #social {
    width: 35%;

    display: flex;
    justify-content: center;
    align-items: center;
}
footer #social #icons {
    width: 100%;
    border-right: .125rem solid #EF0040;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer #social #icons a {
    margin-bottom: .2rem;
}
footer #links {
    width: 65%;

    display: flex;
    flex-direction: column;
}
footer #links nav {
    margin-top: 2rem;
    margin-left: 1rem;
}
footer #links nav ul {
    list-style-type: none;
}
footer #links-menu {
    padding-left: .3rem;
    margin: 0;
}
footer #links-menu a {
    color: #fff;
    text-decoration: none;
}
footer #links-menu img {
    position: relative;
    top: .3rem;
}
footer #copy {
    margin-top: auto;
    width: 100%;
}
footer #copy p {
    font-size: .8rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
}