    <footer>
        <div id="social">
            <div id="icons">
                <a href="#"><img src="/public/svg/facebook_icon.svg" alt="facebook icon"></a>
                <a href="#"><img src="/public/svg/twitter_icon.svg" alt="twitter icon"></a>
                <a href="#"><img src="/public/svg/youtube_icon.svg" alt="youtube icon"></a>
            </div>
        </div>
        <div id="links">
            <nav>
                <span>Menu</span>
                <ul id="links-menu">
                    <li><a href=""><img src="/public/svg/chevron_right.svg" alt="chevron right">all products</a></li>
                    <li><a href=""><img src="/public/svg/chevron_right.svg" alt="chevron right">pizzas</a></li>
                    <li><a href=""><img src="/public/svg/chevron_right.svg" alt="chevron right">drinks</a></li>
                </ul>
            </nav>
        </div>
        <div id="copy">
            <p>{global.companyName} © Created {global.yearCreated}</p>
        </div>
    </footer>
</body>
</html>