<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{head.title} | Pizza Luv</title>
  <meta name="description" content="{head.description}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
  <link rel="stylesheet" href="/public/css/global.css">
  <script src="/public/js/app.js"></script>
  <script src="https://kit.fontawesome.com/50bbfc0952.js" crossorigin="anonymous"></script>

  <!-- specific per page -->
  <link rel="stylesheet" href="/public/css/{head.css}">
  <script src="/public/js/{head.js}"></script>
</head> 
<body>
  <nav id="navbar">
    <div id="brand">
      <img src="/public/svg/logo.svg" alt="Pizza Luv logo">
      <h1>Pizza Luv</h1>
    </div>
    <ul id="menu">
      <a href="#"><i class="fas fa-times"></i></a>
      <li><a class="logged-out" href="">Login</a></li>
      <li><a class="logged-out" href="">Sign Up</a></li>

      <li><a class="logged-in" href="">Edit Account</a></li>
      <li><a class="logged-in" href="">Cart</a></li>
      <li><a class="logged-in" href="">Logout</a></li>

      <li><a class="separator"href=""></a></li>
      <li><a href="">Menu</a></li>

    </ul>
    <button id="menu-button"></button>
  </nav>