<header id="landing">
   <div id="caption">
    <h2>The best pizzas</h2>
    <h2>The best prices</h2>
    <h2>All in one place</h2>
   </div>
   <button id="action-button">Order Now!</button>
</header>
<section id="search-box">
   <div>
      <input type="text" name="pizza-name" id="pizza-name" placeholder="My favourite flavour...">
      <img src="/public/svg/search.svg" alt="search icon">
   </div>
</section>
<section id="carousel">
   <div id="dots"></div>
</section>
<section id="product-list">

   <button id="see-products">Sell all products</button>
</section>