<header id="landing">
   <div id="caption">
    <h2>The best pizzas</h2>
    <h2>The best prices</h2>
    <h2>All in one place</h2>
   </div>
   <button id="action-button">Order Now!</button>
</header>
<section id="search-box">
   <div>
      <input type="text" name="pizza-name" id="pizza-name" placeholder="My favourite flavour...">
      <img src="/public/svg/search.svg" alt="search icon">
   </div>
</section>
<section id="carousel">
   <div class="image">
      <img class="product" src="/public/images/product-placeholder.jpeg" alt="">
   </div>
   <div class="info">
      <h1 class="title">Pizza meme <span class="price">$13.99</span></h1>
      <p class="description">A big description about this pizza meme. It's tasty, large and probably gonna give you some...</p>
   </div>
   <button class="buy">
      <img src="/public/svg/shop_cart.svg" alt="Buy button">
   </button>
   <div class="dots">
      <button class="dot"></button>
      <button class="dot"></button>
      <button class="dot"></button>
   </div>
</section>
<section id="product-list">
   <div class="item">
      <img class="image" src="/public/images/product-placeholder.jpeg" alt="Product image">
      <div class="info">
         <div class="text">
            <h1 class="title">Title placeholder</h1>
            <p class="description">A short description of the product. A short description of the product. A short description of the product.</p>
         </div>
         <div class="icons">
            <div class="price">
               <img src="/public/svg/dolar_sign.svg" alt="dolar sign">
               <span>9.99</span>
            </div>
            <button class="buy"><img src="/public/svg/shop_cart.svg" alt="buy button"></button>
         </div>
      </div>
   </div>

   <div class="item">
      <img class="image" src="/public/images/product-placeholder.jpeg" alt="Product image">
      <div class="info">
         <div class="text">
            <h1 class="title">Title placeholder</h1>
            <p class="description">A short description of the product. A short description of the product. A short description of the product.</p>
         </div>
         <div class="icons">
            <div class="price">
               <img src="/public/svg/dolar_sign.svg" alt="dolar sign">
               <span>9.99</span>
            </div>
            <button class="buy"><img src="/public/svg/shop_cart.svg" alt="buy button"></button>
         </div>
      </div>
   </div>

   <div class="item">
      <img class="image" src="/public/images/product-placeholder.jpeg" alt="Product image">
      <div class="info">
         <div class="text">
            <h1 class="title">Title placeholder</h1>
            <p class="description">A short description of the product. A short description of the product. A short description of the product.</p>
         </div>
         <div class="icons">
            <div class="price">
               <img src="/public/svg/dolar_sign.svg" alt="dolar sign">
               <span>9.99</span>
            </div>
            <button class="buy"><img src="/public/svg/shop_cart.svg" alt="buy button"></button>
         </div>
      </div>
   </div>

   <button id="see-products">Sell all products</button>
</section>